<!DOCTYPE html>
<html lang='zh-cn' ng-app="education">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no,width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <title>京南课堂</title>
    <link rel="stylesheet" href="./css/education-cc3451864b.min.css" charset="utf-8">
    <script src="./libs/ionic.bundle.min.js" charset="utf-8"></script>
    <script src="./libs/angular/angular-resource.min.js" charset="utf-8"></script>
    <script src="./libs/ng-file-upload.min.js" charset="utf-8"></script>
    <script src="./libs/qrcode.js" charset="utf-8"></script>
    <script src="./libs/qrcode_UTF8.js" charset="utf-8"></script>
    <script src="./libs/angular-qrcode.js" charset="utf-8"></script>
    <script src="./js/education-7b559cc460.min.js" charset="utf-8"></script>

</head>

<body>
    <ion-side-menus ng-controller="MainController">
        <ion-side-menu-content>
            <ion-nav-view name="baseContent">
            </ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="right">
            <ul class="list nav-list menu">
                <li class="item" ng-click="toggleRight()" ng-show="user" ui-sref="personal">
                    <a class="energized"><i class="self-icon"></i>个人中心</a>
                </li>
                <!-- <li ng-show="user" class="item" ng-click="toggleRight()" ui-sref="{{item.state}}" ng-repeat="item in listItems">
                    <a class="energized"><i class="news-icon"></i>{{item.name}}</a>
                </li> -->
                <li class="item" ng-click="toggleRight()" ui-sref="news">
                    <a class="energized"><i class="news-icon"></i>京南动态</a>
                </li>
                <li class="item" ng-click="toggleRight()" ui-sref="teacher">
                    <a class="energized"><i class="view-icon"></i>浏览师资</a>
                </li>
                <li class="item" ng-click="toggleRight()" ui-sref="recommend">
                    <a class="energized"><i class="recommend-icon"></i>平台推荐</a>
                </li>
                <li class="item" ng-click="toggleRight()" ui-sref="search">
                    <a class="energized"><i class="search-icon"></i>搜索教师</a>
                </li>
                <!-- <li class="item" ng-click="toggleRight()" ng-hide="user" ui-sref="register">
                    <a class="energized"><i class="register-icon"></i>账号注册</a>
                </li>
                <li class="item" ng-click="toggleRight()" ng-hide="user" ui-sref="login">
                    <a class="energized"><i class="login-icon"></i>账号登录</a>
                </li> -->
                <li class="item" ng-click="toggleRight()" ng-show="user">
                    <a class="energized" ng-click="logout()"><i class="exit-icon"></i>退出登录</a>(ID:{{user.id}})
                </li>
            </ul>
        </ion-side-menu>
    </ion-side-menus>
</body>

</html>
