.footer-bar .button {
    border-radius: 4px;
}
.footer-bar .button:first-child, .footer-bar .button:last-child {
    border-radius: 4px;
}
.footer-bar .button:first-child, .footer-bar .button:nth-child(2) {
    margin-right: 5px;
}
.home-footer-bar>.button {
    padding: 1px 0px;
    overflow: auto;
    width: 100%;
}
.home-footer-bar .button:first-child, .home-footer-bar .button:nth-child(2) {
    margin-right: 2px;
}
.register-bar {
    padding: 10px;
}
.register-bar .button {
    font-size: 12px;
    padding: 1px 5px;
}
.button-more {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -60px;
    width: 120px;
    font-size: 14px
}
.logo {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.teacher-row {
    padding: 5px 0;
}
.teacher-row .col {
    padding: 5px 0;
    padding-top: 0;
}
.teacher-row .col:last-child {
    margin-left: 10px;
}
.teacher-row .col:last-child h3 {
    text-align: right;
}
.teacher-row .col h3, .teacher .teacher-desc {
    color: #808080;
    font-size: 14px;
}
.teacher-row .col .teacher-name {
    color: #404040;
    font-size: 16px;
}
.teacher-image {
    text-align: center;
}
.teacher-image img {
    max-width: 300px;
    max-height: 250px;
}
.row-center .col, .text-center {
    text-align: center;
}
.teacher-experience {
    padding: 0 10px;
    text-indent: 2em;
    text-align: justify;
}
.bar .button.button-icon:before {
    font-size: 24px;
}
.register-buttton {
    padding: 0 10px;
}
.register-code {
    background: #fff;
    padding-left: 0;
}
.button-line-height {
    line-height: 1;
}
.order-row {
    padding: 0;
}
.order-row .col {
    background: #f2f2f2;
}
.order-row h4 {
    border: none;
    padding: 11px 16px;
    background: #f2f2f2;
    color: #808080;
    font-size: 14px;
}
.row-bottom {
    border-bottom: 1px solid #ddd;
}
.news-bar .button:first-child, .news-bar .button:last-child {
    border-radius: 0;
    font-size: 18px;
}
.login-forget-pwd {
    text-align: right;
    margin: 10px 10px 0 0;
}
.login-forget-pwd a {
    color: #fff;
}
.nav-list li a {
    text-decoration: none;
}
.button-border-bottom {
    border-bottom: 1px solid #ffc900 !important;
}
.button-border-default {
    border-bottom: 1px solid #ddd !important;
}
.personal-avatar {
    text-align: center;
    padding-top: 28px;
    margin-bottom: 10px;
}
.personal-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.personal-avatar h2 {
    font-size: 18px;
    color: #404040;
}
.icon-arrow-right {
    color: #d4cdcd;
}
.reference-link {
    background: #f7f5f5;
    border-radius: 5px;
}
.reference-link a {
    color: #000;
    text-decoration: none;
}
.row.reference-tip {
    text-align: center;
    margin-top: 10px;
}
.border-top {
    border-top: none;
}
.border-bottom {
    border-bottom: none;
}
.button.button-save {
    background: #a9a9a9;
}
.row-align {
    align-items: center;
}
.m10 {
    margin: 0 10px;
}
.mp10 {
    margin-top: 10px;
}
.order-title {
    margin: 0 10px;
    color: #808080;
}
.col-title h4 {
    margin: 0;
    padding: 0;
}
.col-desc {
    color: #808080;
    font-size: 14px;
}
.col-button .button {
    padding: 0px;
}
.background {
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
}
.login-background {
    background: url('../images/login-bg.jpg') no-repeat;
    background-size: cover;
}
@media screen and (max-width:768px) {
    .login-box {
        margin-top: 300px;
    }
}
@media screen and (max-width:420px) {
    .login-box {
        margin-top: 250px;
    }
}
@media screen and (max-width:380px) {
    .login-box {
        margin-top: 200px;
    }
}
@media screen and (max-width:321px) {
    .login-box {
        margin-top: 150px;
    }
}
.login-box .item {
    margin: 0 20px;
    background-color: transparent;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
}
.login-box .item input {
    color: #fff;
}
.login-box input::-webkit-input-placeholder {
    color: #fff !important;
}
.login-box input:-moz-placeholder {
    color: #fff !important;
}
.login-box input::-moz-placeholder {
    color: #fff !important;
}
.login-box input:-ms-input-placeholder {
    color: #fff !important;
}
.login-box .item select {
    background-color: transparent;
    color: #fff;
}
.mr10 {
    margin: 0 10px 10px 10px;
}
.search-input {
    border-radius: 5px;
    width: 95%;
}
.ml10 {
    margin-left: 10px;
}
.search-tip {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.progress {
    width: 100%;
    display: inline-block;
    border: 1px groove #CCC;
    border-radius: 5px;
}
.progress div {
    height: 15px;
    background: orange;
    width: 0;
}
.popup-buttons .button {
    padding: 0;
    font-size: 14px;
}
.popup-body {
    text-align: center;
}
.row-header {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
    font-size: 14px;
    padding: 5px 0px
}
.img-box {
    max-height: 350px;
}
.img-box img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.code-box {
    text-align: center;
    padding-bottom: 5px;
}
.code-box img {
    width: 200px;
    height: 200px;
}
.mp50 {
    margin-top: 50px;
}
.menu i {
    margin-bottom: -3px;
    margin-right: 5px;
    background-size: cover;
    height: 16px;
    width: 16px;
    display: inline-block
}
.menu .login-icon {
    background: url(../images/login.png);
}
.menu .register-icon {
    background: url(../images/register.png);
}
.menu .search-icon {
    background: url(../images/search.png);
}
.menu .news-icon {
    background: url(../images/news.png);
}
.menu .view-icon {
    background: url(../images/view.png);
}
.menu .self-icon {
    background: url(../images/self.png);
}
.menu .yuding-icon {
    background: url(../images/yuding.png);
}
.menu .exit-icon {
    background: url(../images/exit.png);
}
.menu .recommend-icon {
    background: url(../images/recommend.png);
}
.menu .home-icon {
    background: url(../images/home.png);
}
.menu .zixun-icon {
    background: url(../images/zixun.png);
}
.qrcode {
    display: block;
    margin: 0 auto;
}
.popup-container.active .popup {
    width: 80%;
}
.service-popup .popup-body {
    text-align: left;
}
.row-link .col {
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 15px;
}
.row-link .col:last-child {
    text-align: right;
    padding-right: 15px;
}
.small-img {
    text-align: center;
}
.small-img img {
    width: 200px;
    max-width: 100%;
    max-height: 200px;
    height: auto;
}
.spinner svg {
    margin-bottom: -8px;
}
.personal {
    background: #f2f2f2;
}
.personal .icon {
    font-size: 18px;
}
.personal a.item {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 17px;
    color: #404040;
    padding-left: 44px;
}
.search {
    background: #F2F2F2;
}
.search-history .item-divider {
    height: 40px;
    color: #808080;
    font-size: 14px;
    font-weight: normal;
    background: #fff;
}
.search-history a.item {
    height: 40px;
    font-size: 16px;
    color: #404040;
    height: 36px;
    padding: 0 16px;
    line-height: 36px;
}
.search-history .clear-history {
    height: 42px;
    min-height: 42px;
    font-size: 16px;
    color: #FF9A1E;
}
.search-history .button.button-energized.button-clear {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.button.button-stable.button-clear {
    color: #808080;
}
.news .item-thumbnail-left {
    min-height: 98px;
    padding-top: 15px;
}
.news a.item img:first-child {
    max-width: 90px;
    max-height: 68px;
    top: 15px;
    margin-right: 10px;
}
.news a.item h2 {
    font-size: 17px;
    color: #404040;
    margin-left: 10px;
}
.news a.item p {
    color: #808080;
    font-size: 13px;
    margin-left: 10px;
}
.teacher a.item {
    border: none;
}
.teacher .list {
    border-top: 1px solid #ddd;
}
.teacher .item-thumbnail-left img:first-child {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 14px;
}
.order-service .item-input .input-label {
    color: #404040;
}
.home .search-input {
    width: 75%;
    margin-left: 5px;
}
@media screen and (max-width:370px) {
    .home .search-input {
        width: 74.5%;
    }
}
@media screen and (max-width:325px) {
    .home .search-input {
        width: 71.3%;
    }
}
.home .button.button-light.button-icon {
    margin-left: 15px;
}
.home .slider-pager .slider-pager-page {
    color: #ff9a1e;
}
.home .nav-btn .button{
    margin: 0;
}
.home .row-subject .col img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.home .row-subject .col span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #808080;
}

.home .row-more, .home .row-more .col{
    padding: 0;
}
.home .row-more .col span {
    float: left;
}
.home .row-more .col span:first-child{
    display: inline-block;
    height: 35px;
    width: 10px;
    background: #ff9a1e;
}
.home .row-more .col span:last-child {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #404040;
    margin-left: 5px;
    font-weight: bold;
}
@media screen and (max-width:321px) {
    .home .row-more .col span:last-child {
        font-size: 16px;
    }
}
.home .row-more .col .col-more {
    text-align: right;
    height: 35px;
    line-height: 35px;
    color: #808080;
}
.home a.item {
    border: none;
}
.home a.item img {
    width: 65px;
    height: 65px;
    max-width: 65px;
    max-height: 65px;
}
.home a.item h2,.home a.item p{
    margin-left: 30px;
}
.home .teacher-list {
    overflow: hidden;
}
.home .teacher-list > div {
    float: left;
    width: 50%;
}
.home .img-box {
    margin: 0 10px;
}
.home .img-box .img-title {
    font-size: 14px;
}
.news-content img {
    width: 100%;
    max-width: 100%;
}
.online {
    margin: 10px;
    text-align: center;
}
.online img {
    width: 200px;
    height: 200px;
}
