<ion-view title="订单详情">
    <ion-header-bar align-title="center" class="bar-energized">
        <a class="button button-icon icon ion-chevron-left" ng-click="back()"></a>
        <h1 class="title">订单详情</h1>
    </ion-header-bar>
    <ion-content>
        <h5 class="row-bottom padding-vertical order-title">订单基本信息&nbsp;&nbsp;<span class="assertive">{{orderInfo.statusDisplay}}</span></h5>
        <div class="row">
            <div class="col">
                订单号码:
            </div>
            <div class="col">
                {{orderInfo.sn}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                订单经办人:
            </div>
            <div class="col">
                {{orderInfo.manage_name}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                订单生成时间:
            </div>
            <div class="col">
                {{orderInfo.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                订单支付时间:
            </div>
            <div class="col">
                {{orderInfo.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
        </div>
        <h5 class="row-bottom padding-vertical order-title">学生个人情况</h5>
        <div class="row">
            <div class="col">
                年级:
            </div>
            <div class="col">
                {{orderInfo.grade}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                学习情况:
            </div>
            <div class="col">
                {{orderInfo.student_state}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                预约教师:
            </div>
            <div class="col">
                {{orderInfo.teacher_name}}
            </div>
        </div>
        <h5 class="row-bottom padding-vertical order-title">选购付费服务</h5>
        <div class="row">
            <div class="col">
                辅导仪上门安装:
            </div>
            <div class="col">
                ¥{{orderInfo.equipment_fee*orderInfo.equipment}}元
            </div>
        </div>
        <div class="row">
            <div class="col">
                作业辅导服务:
            </div>
            <div class="col">
                x
                {{orderInfo.homework_server}}个月 ¥{{orderInfo.homework_server*orderInfo.homework_fee}}元
            </div>
        </div>
        <div class="row">
            <div class="col">
                预习、复习服务:
            </div>
            <div class="col">
                x
                {{orderInfo.prepare_server}}个月 ¥{{orderInfo.prepare_server*orderInfo.prepare_fee}}元
            </div>
        </div>
        <div class="row">
            <div class="col">
                补习服务:
            </div>
            <div class="col">
                x
                {{orderInfo.extra_server}}个小时 ¥{{orderInfo.teacher_extra_server_fee*orderInfo.extra_server}}元
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <strong>总价:<strong/>
                </div>
                <div class="col">
                    <span class="assertive">¥{{orderInfo.total_fee}}元</span>
                </div>
            </div>
            <div ng-if="orderInfo.status == 1">
                <div class="button-bar" style="padding:0 5px;">
                    <button ng-class="{'button-energized':dispalyStates[0]}" class="button button-full button-clear button-stable button-outline" ng-click="tabChange(0)" style="padding:0 10px;">
                        支付宝收款
                    </button>
                    <button ng-class="{'button-energized':dispalyStates[1]}" class="button button-full button-clear button-stable button-outline" ng-click="tabChange(1)" style="padding:0 10px;">
                        微信收款
                    </button>
                </div>
                <div ng-show="dispalyStates[0]" class="code-box">
                    <img src="././images/zfb.jpg" alt="支付宝支付" />
                </div>
                <div ng-show="dispalyStates[1]" class="code-box">
                    <img src="././images/wx.jpg" alt="微信支付" />
                </div>
            </div>
            <div class="row" ng-if="orderInfo.status == 2">
                <div class="col">
                    <a href="tel:{{13283229175}}" class="button button-block button-energized">联系客服电话</a>
                </div>
            </div>
        </ion-content>
    </ion-view>
