<ion-view title="教师详情">
    <ion-header-bar align-title="center" class="bar-energized">
      <a class="button button-icon icon ion-chevron-left" ng-click="back()"></a>
      <h1 class="title">教师详情</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item teacher-image">
            <img ng-src="{{teacherInfo.avatar}}" />
            <h2>{{teacherInfo.truename}}</h2>
        </div>
        <div>
            <!-- <div class="row row-center">
                <div class="col">
                    {{teacherInfo.sex == 1 ? '男':'女'}}
                </div>
                <div class="col">
                    {{teacherInfo.age}}岁
                </div>
                <div class="col">
                    <i class="icon ion-star energized" ng-repeat="num in teacherInfo.stars"></i>
                </div>
            </div> -->
            <div class="row row-center">
                <div class="col">
                    {{teacherInfo.school_name}}&nbsp;&nbsp;{{teacherInfo.profession_title}}
                </div>
            </div>
            <div class="row row-center">
                <div class="col">
                    年级:{{teacherInfo.grade}}&nbsp;&nbsp;|&nbsp;&nbsp;科目:{{teacherInfo.subject}}&nbsp;&nbsp;|&nbsp;&nbsp;教龄:{{teacherInfo.worked_year}}年
                </div>
            </div>
            <div class="row row-center">
                <div class="col">
                    <i class="icon ion-star energized" ng-repeat="num in teacherInfo.stars"></i>
                </div>
            </div>
        </div>
        <div class="item">
            <h2>教职经历</h2>
        </div>
        <div class="" ng-bind-html="teacherInfo.introduction">
        </div>
    </ion-content>
</ion-view>
