<ion-view title="教师库">
    <ion-header-bar align-title="center" class="bar-energized">
        <a class="button button-icon icon ion-chevron-left" ng-click="back()"></a>
        <h1 class="title">教师库</h1>
    </ion-header-bar>
    <ion-content ng-class="{mp50:type}">
        <ion-refresher pulling-text="下拉刷新" on-refresh="refresh()"></ion-refresher>
        <div class="row">
            <div class="col">
                <select ng-change="changeSubject(subject)" ng-model="subject" ng-options="item.val for item in subjects">
                    <option value="">全部科目</option>
                </select>
            </div>
            <div class="col">
                <select ng-model="grade" ng-change="changeGrade(grade)" ng-options="item.val for item in grades">
                    <option value="">全部年级</option>
                </select>
            </div>
            <div class="col">
                <select ng-model="schoolwork" ng-change="changeSchoolwork(schoolwork)" ng-options="item.val for item in schoolworks">
                    <option value="">全部课业</option>
                </select>
            </div>
        </div>
        <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="item in teacherList" ui-sref="teacherDetails({id:item.id})" ng-if="!type">
                <img ng-src="{{item.avatar}}">
                <div class="row teacher-row">
                    <div class="col col-67">
                        <h3>{{item.truename}}</h3>
                    </div>
                    <div class="col">
                        <i class="icon ion-star energized" ng-repeat="star in item.stars"></i>
                    </div>
                </div>
                <div class="row teacher-row">
                    <div class="col col-67">
                        <h3>学校:{{item.school_name}}</h3>
                    </div>
                    <div class="col">
                        <h3>教龄:{{item.worked_year}}年</h3>
                    </div>
                </div>
                <div class="row teacher-row">
                    <div class="col col-67">
                        <h3>年级:{{item.grade}}</h3>
                    </div>
                    <div class="col">
                        <h3>科目:{{item.subject}}</h3>
                    </div>
                </div>
                <div>{{item.introduction}}</div>
            </a>
            <a class="item item-thumbnail-left" ng-repeat="item in teacherList" ui-sref="studentOrderHardWare({id:item.id,name:item.truename})" ng-if="type">
                <img ng-src="{{item.avatar}}">
                <div class="row teacher-row">
                    <div class="col col-67">
                        <h3>{{item.truename}}</h3>
                    </div>
                    <div class="col">
                        <i class="icon ion-star energized" ng-repeat="star in item.stars"></i>
                    </div>
                </div>
                <div class="row teacher-row">
                    <div class="col col-67">
                        <h3>学校:{{item.school_name}}</h3>
                    </div>
                    <div class="col">
                        <h3>教龄:{{item.worked_year}}年</h3>
                    </div>
                </div>
                <div class="row teacher-row">
                    <div class="col col-67">
                        <h3>年级:{{item.grade}}</h3>
                    </div>
                    <div class="col">
                        <h3>科目:{{item.subject}}</h3>
                    </div>
                </div>
                <div>{{item.introduction}}</div>
            </a>
        </div>
        <ion-infinite-scroll ng-if="hasMoreData" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
